* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    color: white;
}

body {
    background: linear-gradient(90deg, #3E4044 0%, #28292F 100%);
    margin: 2vh 5vw;
}

section, footer{
    border: 2px solid red;
    margin-bottom: 5vh;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1, h2, .articlename {
    color: #89FFFD;
}

h1{
    font-size:161px;
    font-weight: 800;
}

h2{
    font-size: 64px;
    font-weight: 500;
    margin-bottom: 10vh;
}

h3{
    font-size: 41px;
    font-weight: 300;
}

[weight=600]{--weight: 600px;}
.bold-word{
    font-weight: var(--weight, 800);
}

.articlename{
    font-weight: 500;
    font-size: 20px;
}

.description{
    font-size: 18px;
    font-weight: 400;
}

.sous-texte{
    font-size: 18px;
    font-weight: 300;
}

.prix{
    font-size: 32px;
    font-weight: 700;
}

[long="1"] {--size: 543px;}
.hrRose{
    border: none;
    height: 9px;
    width: var(--size, 143px);
    background-color: #EF32D9;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

img:hover{
    filter: brightness(50%);
}

/* Header */

header{
    border: 2px red solid;
}

.left{
    font-size: 14px;
}
.right{
    gap: 2%;
    flex: 1;
    white-space: nowrap;
    justify-content: flex-end;
}


/* Section 1 */




/* Section 2 */

.containerArticles .article{
    position: relative;
    align-items: center;
}

.article .prix{
    position: absolute; /* Positionnement absolu dans le conteneur */
    bottom: 25px; /* Distance du haut */
    right: 10px; /* Distance de la droite */
}

/* Section 3 */

#collections{
    padding-right: 5vw;
}

.containercollection{
    margin-left: 5vw;
}

.image-container{
    position: relative;
}

.image-container img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.image-container button{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color:#28292F;
    font-size: 20px;
    height: 38px;
    width: 68px;
    border: none;
    border-radius: 36px;
    cursor: pointer;
}

.image-container:nth-of-type(1){
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.image-container:nth-of-type(2){
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.image-container:nth-of-type(3){
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.image-container:nth-of-type(4){
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.image-container:nth-of-type(5){
    grid-column: 2 / 4;
    grid-row: 3/ 4;
}

.image-container:nth-of-type(6){
    grid-column: 4 / 5;
    grid-row: 1 / 4;
}

/* Footer */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}

.ulContainer{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

li {
    list-style: none;
    padding-left: 0;
    font-size: 16px;
    font-weight: 400;
}

.vanillaHR{
    border: 1px #FFFFFF33 solid;
    width: 100%;
}

.copyrights
{
    width: 100%;
}