* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    color: white;
}

body {
    background: linear-gradient(90deg, #3E4044 0%, #28292F 100%);
    margin: 2vh 5vw;
}

section, footer{
    margin-bottom: 5vh;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1, h2, .articlename {
    color: #89FFFD;
}

h1{
    font-size: 161px;
    font-weight: 800;
}

h2{
    font-size: 64px;
    font-weight: 500;
    margin-bottom: 10vh;
}

h3{
    font-size: 41px;
    font-weight: 300;
}

a {
    text-decoration: none;
}

.fontSizeAndWeight{
    font-size: var(--fontSize);
    font-weight: var(--fontWeight);
}

[long="1"] {--size: 543px;}
.hrRose{
    border: none;
    height: 9px;
    width: var(--size, 143px);
    background-color: #EF32D9;
}

img:hover{
    filter: brightness(50%);
}

button:hover, img:hover{
    cursor: pointer;
}

/* Header */

.left{
    font-size: 14px;
}

.right{
    gap: 10px;
    flex-grow: 1;
    white-space: nowrap;
    justify-content: flex-end;
}

/* Section 1 */

#acceuil{
    position: relative;
}

#acceuil .container{
    flex-direction: row;
    flex-wrap: wrap;
}

.homeText{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 2vh;
}

.homeImage{
    display: flex;
    flex-grow: 1;
    object-fit: cover;
}

.homeSocial{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.buttonJoin{
    background-color: #EF32D9;
    font-size: 18px;
    font-weight: 700;
    max-width: 200px;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.homeArticles{
    display: flex;
    position: absolute;
    gap: 5px;
    bottom: 0px;
    right: 0px;
}

.imgBackground{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    background: radial-gradient(50% 50% at 50% 50%, #44464B 0%, #28292F 100%);
    border: 1px solid white
}

/* Section 2 */

.containerArticles .article{
    position: relative;
    align-items: center;
}

.article .prix{
    position: absolute;
    bottom: 25px;
    right: 10px;
}
.containerArticles{
    flex-wrap: wrap;
}

.article img{
    object-fit: cover;
}

/* Section 3 */

.grid{
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(100, 1fr);
    gap: 5px;
}

#collections{
    padding-right: 5vw;
}

.containercollection{
    margin-left: 5vw;
}

.image-container{
    position: relative;
}

.image-container img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.image-container button{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color:#28292F;
    font-size: 20px;
    height: 38px;
    width: 68px;
    border: none;
    border-radius: 36px;
}

.image-container:nth-of-type(1){
    grid-column: 1 / 45;
    grid-row: 1 / 70;
}

.image-container:nth-of-type(2){
    grid-column: 45 / 75;
    grid-row: 1 / 33;
}

.image-container:nth-of-type(3){
    grid-column: 75 / 100;
    grid-row: 1 / 100;
}

.image-container:nth-of-type(4){
    grid-column: 45 / 75;
    grid-row: 33 / 70;
}

.image-container:nth-of-type(5){
    grid-column: 33 / 75;
    grid-row: 70 / 100;
}

.image-container:nth-of-type(6){
    grid-column: 1 / 33;
    grid-row: 70 / 100;
}

/* Footer */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}

.ulContainer{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

li {
    list-style: none;
    padding-left: 0;
    font-size: 16px;
    font-weight: 400;
}

.vanillaHR{
    border: 1px #FFFFFF33 solid;
    width: 100%;
}

.copyrights {
    width: 100%;
}

@media (max-width: 850px) /* de +inf jusqu'a 850px */
{
    h2{
        margin-bottom: 5vh;
        font-size: 35px;
        font-weight: 500;
    }

    /* header */
    header .right{
        flex-grow: 0;
        flex-direction: column;
    }

    /* Section 1 */
    #acceuil .container{
        flex-direction: column;
        align-items: center;
        gap: 5vh;
    }
    
    .homeArticles, .imgBackground, .homeSocial{
        display: none;
    }
    
    .homeText{
        align-items: center;
    }
    
    .homeImage img{
        height: auto;
        width: 80vw;
    }

    /* Section 2 */

    .containerArticles{
        flex-direction: column;
    }

    /* Section 3 */

    .containercollection{
        display: flex;
        flex-direction: column;
    }

    .image-container button{
        left: 10px;
    }

    /* Footer */
    .ulContainer, .copyrights{
        flex-direction: column;
        justify-content: left;
        gap: 10px;
    }

    .copyrights {
        gap: 5vh;
    }
    
    .copyrights .right {
        width: 50%;
        justify-content: space-evenly;
    }
}